html, body {
    width: auto!important; 
    overflow-x: hidden!important
} 


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    letter-spacing: 5px;
    color: black;   
}

hr {
    width: 500px;
}

#board {
    width: 380px;
    height: 380px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
}


/* colored tiles */

.x2 {
    background-color: #CAFAFE;
}

.x4 {
    background-color: #FC4445;
    color: white;
}

.x8 {
    background-color: #3FEEE6;

}

.x16{
    background-color: #55BCC9;
    color: white

}

.x32{
    background-color: #97CAEF;

}

.x64{
    background-color: #ed127f;
    color: white;

}

.x128{
    background-color: #ffffff;
    color:  #55BCC9;


}

.x256{
    background-color: #ffb25f;
    color: white;
}

.x512{
    background-color: #009ca2;

}

.x1024{
    background-color: #4a6cea;
}

.x2048{
    background-color: white;
    color: #ed127f;
}

.x4096 {
    background-color: white;
    color:  #009ca2
}

.x8192 {
 background-color: white;
 color:  #4a6cea
}

#up{

}
#left{
margin-right: 25px;
}
#right{
margin-left: 25px;
}
#down{
margin-bottom: 25px;
}
img{
    width: 50px;
    height: 50px;
}